[MESSAGES CONTROL]

# Only show warnings with the listed confidence levels. Leave empty to show
# all. Valid levels: HIGH, INFERENCE, INFERENCE_FAILURE, UNDEFINED
confidence=

disable=
    E1102, ; not-callable
    C0301, ; line-too-long
    C0413, ; wrong-import-position 
    ; W0611, ; unused-import
    E1101, ; no-member
    C0111, ;missing-docstring,
    W0012, ; unkown-option-value