[MESSAGES CONTROL]

# Only show warnings with the listed confidence levels. Leave empty to show
# all. Valid levels: HIGH, INFERENCE, INFERENCE_FAILURE, UNDEFINED
confidence=

disable=
    ; W0611, ; unused-import
    ; W0621, ; redefined-outer-name
    E1102, ; not-callable
    C0301, ; line-too-long
    C0413, ; wrong-import-position 
    E1101, ; no-member
    C0111, ; missing-docstring,
    W0012, ; unkown-option-value
    C0103, ; invalid-name

[MASTER]
load-plugins=pylint_pytest